.wrapper {
    padding-left: 10em;
}

#leftrail {
    margin-left: -10em;
    width: 10em;
    background-color: #60a060;
    position: fixed;
    height: 100%;
    padding: 10px;
}

#content {
    padding: 10px;
}

#tweet-list {
}

.tweet {
    border: 1px solid black;
    display: flex;
}

.tweet--blog-mention {
    background-color: #ffd0d0;
}

.tweet-profile-image {
}

.tweet-main {
    padding: 5px;
    flex-grow: 99;
}

.tweet-header {
    margin-bottom: 4px;
}

.tweet-username {
    font-size: 80%;
}

.tweet-screenname {
    font-size: 80%;
}

.tweet-time {
    display: inline-block;
    color: #808080;
    float: right;
}

.tweet-body {
}

#tweet-bottom {
    height: 5em;
    background-color: #e0e0e0;
}
