#top-navbar {
    color: #ffffff;
    background-color: #101010;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    height: 2em;
}

#top-navbar .navbar-brand {
    color: #ffffff;
}

#top-navbar .navbar-nav > li > a,
#top-navbar .navbar-nav > li > a:focus,
#top-navbar .navbar-nav > li > a:hover {
    color: #ffffff;
}

.wrapper {
    padding-left: 10em;
}

#leftrail {
    margin-left: -10em;
    width: 10em;
    background-color: #60a060;
    position: fixed;
    height: 100%;
    padding: 10px;
    top: 50px;
}

#content {
    padding: 10px;
    margin-top: 50px;
}

#tweet-list {
}

.tweet {
    border: 1px solid black;
    display: flex;
}

.tweet--blog-mention {
    background-color: #ffd0d0;
}

.tweet-profile-image {
}

.tweet-main {
    padding: 5px;
    flex-grow: 99;
}

.tweet-header {
    margin-bottom: 4px;
}

.tweet-username {
    font-size: 80%;
}

.tweet-screenname {
    font-size: 80%;
}

.tweet-time {
    display: inline-block;
    color: #808080;
    float: right;
}

.tweet-time a {
    color: #808080;
}

.tweet-body {
}

#tweet-bottom {
    height: 5em;
    background-color: #e0e0e0;
}
