.wrapper {
    padding-left: 10em;
}

#leftrail {
    margin-left: -10em;
    width: 10em;
    background-color: #60a060;
    position: fixed;
    height: 100%;
}

#content {
    padding: 10px;
}

#tweet-list {
}

.tweet {
    border: 1px solid black;
}

.tweet--blog-mention {
    background-color: #ffd0d0;
}

.tweet-header {
    margin-bottom: 4px;
}

.tweet-username {
    font-size: 80%;
}

.tweet-screenname {
    font-size: 80%;
}

.tweet-time {
    display: inline-block;
    color: #808080;
}

.tweet-body {
}

#tweet-bottom {
    height: 5em;
    background-color: #e0e0e0;
}
